<div class="card">
    <table class="table table-hover table-sm">
        <tbody>
            <tr>
                <td>NET WORTH</td>
                <td>{{ totalNetWorth | currency: "USD" }}</td>
            </tr>
            <tr>
                <td>Cash</td>
                <td>{{ cashNetWorth | currency: "USD" }}</td>
            </tr>
            <tr *ngFor='let item of cash'>
                <td colspan="2">
                    <table class="table table-hover table-sm">
                        <tr>
                            <td>{{item.name}}</td>
                            <td>{{ item.value | currency: "USD" }}</td>
                        </tr>
                        <tr>
                            <td>{{item.company}}</td>
                            <td>{{item.date}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>Investments</td>
                <td>{{ investmentNetWorth | currency: "USD" }}</td>
            </tr>
            <tr *ngFor='let item of investments'>
                <td colspan="2">
                    <table>
                        <tr>
                            <td>{{item.symbol}}</td>
                            <td>{{ item.value | currency: "USD" }}</td>
                        </tr>
                        <tr>
                            <td>{{item.accountName}}</td>
                            <td>{{item.date}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>