<div class="card">
  Select the account to view historical net worth:
<select class="form-select form-select-sm" [(ngModel)]="paramObj.category" (change)="consoleLog(paramObj.category)">
  <option value="//">All Accounts</option>
  <option value="cash_accounts">Cash Accounts</option>
  <option value="investment_accounts">Investment Accounts</option>
</select>

<div display=block>
  <canvas margin=10px
    baseChart
    height="150"
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [legend]="lineChartLegend"
    [chartType]="lineChartType"
  ></canvas>
</div>
</div>
