Select the accounts you want to view:
<select class='selector' [(ngModel)]="paramObj.category" (change)="consoleLog(paramObj.category)">
  <option value="//">All Accounts</option>
  <option value="cash_accounts">Cash Accounts</option>
  <option value="investment_accounts">Investment Accounts</option>
</select>

<div style="display: block">
  <canvas
    baseChart
    height="150"
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [legend]="lineChartLegend"
    [chartType]="lineChartType"
  ></canvas>
</div>
