<div class="card p-2">
  <div class="d-flex flex-row align-items-center justify-content-between">
    <p class="h5 text-primary">Market Movers</p>
    <div class="d-flex flex-row gap-1">
      <button
        type="button"
        class="btn btn-info btn-xs active"
        (click)="showPercentage()"
      >
        <i class="fas fa-percent"></i>
      </button>
      <button
        type="button"
        class="btn btn-info btn-xs active"
        (click)="showDifference()"
      >
        <i class="fas fa-dollar-sign"></i>
      </button>
    </div>
  </div>

  <div class="container mt-2 d-grid gap-3">
    <div class="row justify-content-between">
      <div class="col-5 d-inline-block text-center card p-1">
        <p class="my-1 text-primary">DOW JONES</p>
        <p
          class="my-1"
          [ngClass]="{
            'text-success': DOWJONESData.difference > 0,
            'text-danger': DOWJONESData.difference < 0
          }"
        >
          {{ DOWJONESData.show }}
          <button
            type="button"
            class="btn btn-light btn-sm active"
            (click)="refreshDJ()"
          >
            <i class="fas fa-sync"></i>
          </button>
        </p>
      </div>
      <div class="col-5 d-inline-block text-center card p-1">
        <p class="my-1 text-primary">SP500</p>
        <p
          class="my-1"
          [ngClass]="{
            'text-success': SP500Data.difference > 0,
            'text-danger': SP500Data.difference < 0
          }"
        >
          {{ SP500Data.show }}
          <button
            type="button"
            class="btn btn-light btn-sm active"
            (click)="refreshSP()"
          >
            <i class="fas fa-sync"></i>
          </button>
        </p>
      </div>
    </div>

    <div class="row justify-content-between">
      <div class="col-5 d-inline-block text-center card p-1">
        <p class="my-1 text-primary">NASDQ</p>
        <p
          class="my-1"
          [ngClass]="{
            'text-success': NASDQData.difference > 0,
            'text-danger': NASDQData.difference < 0
          }"
        >
          {{ NASDQData.show }}
          <button
            type="button"
            class="btn btn-light btn-sm active"
            (click)="refreshNasdaq()"
          >
            <i class="fas fa-sync"></i>
          </button>
        </p>
      </div>
      <div class="col-5 d-inline-block text-center card p-1">
        <p class="my-1 text-primary">10-TR Bond</p>
        <p
          class="my-1"
          [ngClass]="{
            'text-success': BondData.difference > 0,
            'text-danger': BondData.difference < 0
          }"
        >
          {{ BondData.show }}
          <button
            type="button"
            class="btn btn-light btn-sm active"
            (click)="refreshBond()"
          >
            <i class="fas fa-sync"></i>
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
