<div class="card p-2">

<div class="d-flex">
<div class="mr-auto p-2">
    <p class="h3">Market Movers</p>
</div>
  <div class="p-2">
      <button  type="button" class="btn btn-primary btn-xs active" (click)="showPercentage()">%</button>
      <button type="button" class="btn btn-primary btn-xs active" (click)="showDifference()">$</button>
  </div>
  </div>
  <hr>
  <p class="text-muted">TODAY</p>



<div class="container">
  <div class="text-center">
    <button  type="button" class="btn btn-outline-secondary btn-xs" >
      <p class="text-danger">{{ DOWJONESData.show }}</p>
      &nbsp;DOW&nbsp;JONES
      <!--&nbsp; DOW&nbsp;JONES -->
    </button>
    <button  type="button" class="btn btn-outline-secondary btn-xs">
      <p class="text-success">{{ SP500Data.show }} </p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SP500&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </button>
  </div>

   <div class="text-center">
    <button  type="button" class="btn btn-outline-secondary btn-xs" >
      <p class="text-success">{{ NASDQData.show }} </p>
      &nbsp;&nbsp;&nbsp;&nbsp;NASDQ&nbsp;&nbsp;&nbsp; &nbsp; 
    </button>
    <button  type="button" class="btn btn-outline-secondary btn-xs">
      <p class="text-success">{{ BondData.show }}</p>
      10-TR BOND
    </button>
  </div>
</div>






</div>


