<!--<nav>
  <a routerLink="/market-movers">Market Movers</a>
</nav>-->

<ng-container>
  <h1>Portfolio Manager</h1>

  <ng-container>
    <h2>Net Worth</h2>
    <app-account-details></app-account-details>
    <app-net-worth></app-net-worth>
  </ng-container>


  <app-cash-flow></app-cash-flow>


  <ng-container>
    <h2>Market Movers</h2>
    <app-market-movers></app-market-movers>
  </ng-container>


    <ng-container>
    <h2>Top Five Gainers and Losers</h2>
    <app-top-five></app-top-five>
  </ng-container>

  
</ng-container>

<router-outlet> </router-outlet>
