<!--<nav>
  <a routerLink="/market-movers">Market Movers</a>
</nav>-->

<ng-container>
  <h2>Portfolio Manager</h2>
  <div class="container-xxl p-3">
    <div class="row g-3">
      <div class="col-3">
        <ng-container>
          <app-account-details></app-account-details>
        </ng-container>
      </div>
      <div class="col-5">
        <app-net-worth></app-net-worth>
        <app-cash-flow></app-cash-flow>
      </div>
      <div class="col-4">
        <ng-container>
          <h2>Market Movers</h2>
          <app-market-movers></app-market-movers>
          <ng-container>
            <h2> </h2>
            <app-top-five></app-top-five>
          </ng-container>

          <app-news></app-news>

          <router-outlet> </router-outlet>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
