<div class="card p-2 mt-3 d-flex flex-col gy-3">
  <p class="h5 text-primary">News</p>

  <button
    class="btn btn-primary mt-2"
    (click)="getNews()"
    data-bs-toggle="modal"
    data-bs-target="#newsModal"
  >
    What's new?<span class="btn-label"><i class="fas fa-stream"></i></span>
  </button>

  <form class="input-group mt-3">
    <input
      type="text"
      class="form-control"
      placeholder="Stock symbol"
      aria-label="Stock symbol"
      aria-describedby="search-by-symbol"
      [(ngModel)]="symbol"
      name="symbol"
      required
    />
    <button
      (click)="getNewsBySymbol()"
      class="btn btn-primary"
      type="button"
      id="search-by-symbol"
      data-bs-toggle="modal"
      data-bs-target="#newsModal"
    >
      Search<span class="btn-label"><i class="fas fa-search"></i></span>
    </button>
  </form>

  <form class="input-group mt-3">
    <input
      type="text"
      class="form-control"
      placeholder="Exchange code"
      aria-label="Exchange code"
      aria-describedby="search-by-exchange"
      [(ngModel)]="exchange"
      name="exchange"
      required
    />
    <button
      (click)="getRandomNews()"
      class="btn btn-primary"
      type="button"
      id="search-by-symbol"
      data-bs-toggle="modal"
      data-bs-target="#newsModal"
    >
      Feeling lucky<span class="btn-label"><i class="fas fa-magic"></i></span>
    </button>
  </form>

  <small class="form-text text-muted text-center">
    List of
    <a
      href="https://docs.google.com/spreadsheets/d/1I3pBxjfXB056-g_JYf_6o3Rns3BV2kMGG1nCatb91ls/edit#gid=0"
      target="_blank"
      style="text-decoration: none; cursor: pointer !important;"
      >exchange codes</a
    >
  </small>

  <!-- News modal -->
  <div
    class="modal fade"
    id="newsModal"
    tabindex="-1"
    aria-labelledby="newsModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newsModalLabel">News</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div *ngIf="news; else noNewsMsg" style="height: auto">
            <p *ngIf="this.symbol">Symbol: <span class="text-info">{{ this.symbol }}</span></p>
            <ul class="list-group list-group-flush">
              <div *ngFor="let item of news">
                <li class="list-group-item">
                  <a
                    href="{{ item.link }}"
                    target="_blank"
                    style="text-decoration: none; font-size: 0.8rem"
                    >{{ item.title }}</a
                  >
                </li>
              </div>
            </ul>
          </div>
          <ng-template #noNewsMsg>Oops, there is no news available for <span class="text-info">{{ this.symbol }}</span> </ng-template>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
