/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.btn-label {
  padding: 5px 10px;
}

hr {
  margin: 10px 0 !important;
}

tr {
  width: 100%;
  display: inline-table;
  height: 1rem;
}

td {
  font-size: 0.8rem;
}
