<div class="card p-2 mt-3">
  <p class="h5">Gainers:</p>
  <div
    *ngFor="let stock of reportDataGain"
    class="d-flex flex-row justify-content-between"
  >
    <div>{{ stock.symbol }}</div>
    <div class="text-success">
      {{ stock.percentage / 100 | percent: "1.3-3" }}
    </div>
  </div>

  <hr style="margin: 10px 0 !important" />

  <p class="h5">Losers:</p>
  <div
    *ngFor="let stock of reportDataLose"
    class="d-flex flex-row justify-content-between"
  >
    <div>{{ stock.symbol }}</div>
    <div class="text-danger">
      {{ stock.percentage / 100 | percent: "1.3-3" }}
    </div>
  </div>
</div>
