<div class="card p-3 mt-3">
  <p class="h5 text-primary">Gainers</p>
  <table class="table table-hover my-0">
    <tbody>
      <tr *ngFor="let stock of reportDataGain" class="px-2">
        <td>{{ stock.symbol }}</td>
        <td class="text-success text-end">
          {{ stock.percentage/ 100 | percent: "1.3-3" }}
        </td>
      </tr>
    </tbody>
  </table>

  <p class="h5 mt-3">Losers</p>
  <table class="table table-hover my-0">
    <tbody>
      <tr *ngFor="let stock of reportDataLose" class="px-2">
        <td>{{ stock.symbol }}</td>
        <td class="text-danger text-end">
          {{ stock.percentage / 100 | percent: "1.3-3" }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
